/dev/system_bus_freq    0660    system      system
/dev/cpu_dma_latency    0660    system      system

#audio
/dev/htc-acdb           0660    system      audio
/dev/msm_audio_dev_ctrl 0660    system      audio
/dev/msm_acdb           0660    system      audio
/dev/msm_pcm_lp_dec     0660    system      audio
/dev/codec_aic3254      0660    system      audio
/dev/pmem_adsp*         0660    system      audio
/dev/gemini*            0660    system      audio
/dev/adsp/*             0660    system      audio
/dev/snd/*              0660    system      audio
/dev/msm_pcm_out*       0660    system      audio
/dev/msm_pcm_in*        0660    system      audio
/dev/msm_mp3*           0660    system      audio
/dev/htc-acoustic       0660    system      audio
/dev/msm_vidc_reg       0660    system      audio
/dev/msm_vidc_dec       0660    system      audio
/dev/msm_vidc_enc       0660    system      audio
/dev/tpa2051d3          0660    system      audio
/dev/control0           0660    system      audio
/dev/controlC0          0660    system      audio
/dev/pmem_audio         0660    system      audio
/dev/tpa2051d3          0660    system      audio

#camera
/dev/pmem_smipool       0660    system      audio
/dev/msm_camera/*       0660    system      system

#graphics
/dev/msm_rotator        0660    system      graphics
/dev/kgsl-2d0           0666    root        root
/dev/kgsl-3d0           0666    root        root
/dev/kgs1-2d1           0666    root        root
/dev/pmem               0660    system      graphics
/dev/genlock            0666    system      graphics

# Bluetooth
/dev/ttyHS0             0600    bluetooth   bluetooth
